{% macro background_image(record, image, cls="image") %}
{% set url = image_url(record, image) %}
<i style="background-position: top; background-image: url({{ url }});"
   {% if cls -%}class="{{ cls }}"{% endif-%}></i>
{% endmacro %}

{% macro image_url(record, image) %}
{% if image and record.attachments.images.get(image) %}
{{ record.attachments.images.get(image) | url}}
{% elif image %}
{{ image }}
{% else %}
{# Add end of URL so consecutive pages in pagination record get different backgrounds #}
{% set offset = record.contents.bytes + ((record | url)[-2] | int(36)) %}
{{ ("/static/img/stock/" ~ (offset % 8) ~ ".jpg") | asseturl}}
{% endif %}
{% endmacro %}
