{% from "macros/utils.html" import background_image %}
{% extends "page.html" %}

{% macro render_member(member)%}
<div class="small">
  <div class="inner">
    {{ background_image(member, member.portrait, cls="portrait") }}
    <div class="text">
      <h5>{{ member.name }}</h5>
      <p>{{ member.school }} {{ member.year }}</p>
    </div>
  </div>
</div>
{% endmacro %}

{% block top_card %}
<section>
  <div class="content">
    <div class="section-header">
      <h4>Committee Members</h4>
      <span class="bar green"></span>
    </div>
    {% for row in this.children | batch(3) %}
    <div class="triple">
      {% for member in row %}
      {{ render_member(member) }}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
