{% from "macros/events.html" import event_brief %}
{% from "macros/utils.html" import background_image %}
{% extends "base.html" %}

{% block body %}
<div class="main no-hero">
  <div class='single single-event'>
    <div class="content">
      {{ background_image(this, this.background_image) }}
      <h1 align="center"> {{ this.title }} </h1>
      <div class="details">
        <div class="section-header">
          <h4>Details</h4>
          <span class="bar yellow"></span>
        </div>
        {{ event_brief(this) }}
        {% if this.facebook_url %}
        <a href="{{this.facebook_url}}">
          <div class="button blue">
            <div class="icon-facebook">
              <i class="fa fa-facebook"></i>RSVP on Facebook</div></div></a>
        {% endif %}
      </div>
      <div class="text"> {{ this.long_description }} </div>
    </div>
  </div>
</div>
{% endblock %}
