{% macro event(event, show_description=True) %}
<div class="event large">
  <div class="image">
    <a href="{{ event.get_absolute_url() }}">
      <i style="background-image:url({{ event.image_url() }});"></i>
    </a>
  </div>
  <div class="text">
    <a href="{{ event.get_absolute_url() }}">
      <h2>{{ event.title }}</h2>
    </a>
    {% if show_description %}
    <p class="description">{{ event.short_description | safe }}</p>
    {% endif %}
    <div class="details">
      {% if event.is_multiday() %}
      <p>
      <i class="fa fa-calendar"></i>
      {{ event.human_readable_datetime() }}
      </p>
      {% else %}
      <p>
      <i class="fa fa-calendar"></i>
      {{ event.human_readable_date() }}
      </p>
      <p>
      <i class="fa fa-clock-o"></i>
      {{ event.human_readable_time() }}
      </p>
      {% endif %}
      <p>
      <i class="fa fa-map-marker"></i>
      {{ event.location }}
      </p>
    </div>
  </div>
</div>
{% endmacro %}
