{% extends "base.html" %}

{%- block body -%}
<div class="all-wrapper">
  <div class="hero">
    <div class="scrim"></div>
    {% if this.background_image %}
    <i style="background-image: url({{ this.attachments.images.get(this.background_image) | url}});"></i>
    {% else %}
    <i style="background-image: url({{ ("/static/img/stock/" ~ (range(8) | random) ~ ".jpg") | asseturl}});"></i>
    {% endif %}
  </div>
  <div class="main">
    {% block main %}
    {{ this.body }}
    {% for blk in this.callouts.blocks %}
    {{ blk }}
    {% endfor %}
    {% endblock main %}
  </div>
</div>
{% endblock body %}
