{% extends "base.html" %}
{% from "macros/utils.html" import background_image %}

{%- block body -%}
<div class="all-wrapper">
  <div class="hero">
    <div class="scrim"></div>
    {{ background_image(this, this.background_image) }}
  </div>
  <div class="main">
    <section class="card top-card">
      <div class="content">
        <h1 class="page-title"> {{ this.title }} </h1>
        {% block top_card %}{% endblock %}
        {% if not self.top_card() and this.blurbs.blocks %}
        {{ this.blurbs.blocks[0] }}
        {% endif %}
      </div>
      {% if not self.top_card() and this.blurbs %}
      {% for blk in this.blurbs.blocks[1:] %}
      <section>
        <div class="content"> {{ blk }} </div>
      </section>
      {% endfor %}
      {% endif %}
    </section>

    {% if self.top_card() and this.blurbs%}
    {% for blk in this.blurbs.blocks %}
    <section>
      <div class="content"> {{ blk }} </div>
    </section>
    {% endfor %}
    {% endif %}

    {% if this.sections %}
    {% for blk in this.sections.blocks %}
    {{ blk }}
    {% endfor %}
    {% endif %}

    {% block bottom_card %}
    {% if this.bottom_card %} {{ this.bottom_card }} {% endif %}
    {% endblock %}
  </div>
</div>
{% endblock body %}
