{% extends "base.html" %}
{% from "macros/utils.html" import background_image %}

{%- block body -%}
<div class="all-wrapper">
  <div class="hero">
    <div class="scrim"></div>
    {{ background_image(this, this.background_image) }}
  </div>
  <div class="main">
    {% block top_card %}
    <section class="card top-card">
      <div class="content">
        <h1 class="page-title"> {{ this.title }} </h1>
        {% if this.top_card %} {{ this.top_card }} {% endif %}
      </div>
    </section>
    {% endblock %}

    {% if this.sections %}
    {% for blk in this.sections.blocks %}
    {{ blk }}
    {% endfor %}
    {% endif %}

    {% block bottom_card %}
    {% if this.bottom_card %} {{ this.bottom_card }} {% endif %}
    {% endblock %}
  </div>
</div>
{% endblock body %}
