{% extends "page.html" %}

{% block js %}
{{ super() }}
<script type="text/javascript">
$(function() {
  $('.slideto').click(function(e) {
    e.preventDefault();
    id = $(this).attr('href');
    $('html,body').animate({
      scrollTop: $(id).offset().top
    }, 200);
  });

  var md = new MobileDetect(window.navigator.userAgent);
      if (md.mobile() == null) {
          var $wrapper = $('.sidebar-wrapper .full');
          var $sidebar = $('.sidebar');
          var $inner = $('.sidebar .inner');
          var $navbar = $('.navbar');

          $(window).scroll( function(e) {
              if ($(window).scrollTop() > $wrapper.offset().top - 80) {
                  $navbar.addClass('up');
              } else {
                  $navbar.removeClass('up');
              }
              if ($(window).scrollTop() > $wrapper.offset().top ) {
                  $sidebar.addClass('fixed');
              } else {
                  $sidebar.removeClass('fixed');
              }

              var bottomOfSidebar = $inner.offset().top + $inner.height();
              var bottomOfSidebarWrapper = $wrapper.offset().top + $wrapper.height();
              var topOfSidebar = $inner.offset().top;
              var topOfVisibleWindow = $(window).scrollTop();

              if (!$sidebar.hasClass('bottom') && bottomOfSidebar > bottomOfSidebarWrapper){
                  $sidebar.addClass('bottom');
              } else if (topOfSidebar > topOfVisibleWindow) {
                  $sidebar.removeClass('bottom');
              }


          });
      }
});
</script>
{% endblock %}

{% set fa_icons = {
  "video": "fa-video-camera", "webpage": "fa-bookmark", "book": "fa-book"
} %}
{% macro render_resource(resource) %}
<div class="resource">
  <div class="inner">
    <h5>
      <a href="{{ resource.url }}" target="_blank">{{ resource.name }}
        <i class="fa {{ fa_icons[resource.type] }}" aria-hidden=true></i>
      </a>
    </h5>
    <h6> Level: {{ resource.level | capitalize }} </h6>
    {{ resource.description }}
  </div>
</div>
{% endmacro%}

{% block bottom_card %}
<section class="sidebar-wrapper">
  <div class="full">
    <div class="sidebar">
      <div class="inner">
        <h4>Topics</h4>
        <span class="bar gray"></span>
        <ul class="topics">
          {% for topic in this.children.distinct("topic") %}
          <li data-topic="{{ topic }}">
            <a class="slideto" href="#{{ topic }}">
              <p>{{ topic | capitalize }}</p></a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% for topic in this.children.distinct("topic") %}
    <section class="topic with-sidebar" id="{{ topic }}">
      <div class="content">
        <div class="section-header">
          <h4>{{ topic }}</h4>
          {% set colors = ['green', 'yellow', 'blue'] %}
          <span class="bar {{ colors[loop.index0 % 3] }}"></span>
        </div>
        <ul class="resources">
          {% for row in this.children.filter(F.topic == topic) | batch(2) %}
          <li>
            {% for resource in row %}
            {{ render_resource(resource) }}
            {% endfor %}
          </li>
          {% endfor%}
        </ul>
      </div>
    </section>
    {% endfor %}
  </div>
</section>
{% endblock %}
